        <% @a = "" %>
                <% @b = "" %>
          <% unless current_user.nil? %>
            <% if (current_user.voted_as_when_voted_for link).nil? %>
                  <% @a = "" %>
                  <% @b = "" %>
            <% elsif current_user.voted_as_when_voted_for link %>
                  <% @a =  "upvoted"   %>
            <% else %>  
                <% @b =  "downvoted"   %>
            <% end %>
          <% end %>

<div class="card">
<table class="table table-responsive">
   <tbody>
    <tr>
      <th style="vertical-align: middle;">
        <table  class="table table-unbordered voteTable" style="height: 100%;">
          <tbody>
            <tr>
              <td>
                 <%= link_to like_link_path(link), method: :put,:remote => true, class: "post_upvote "+@a  do %>
                <i class="fa fa-caret-up fa-2x" aria-hidden="true" ></i>
              <% end %>
              </td>
            </tr>
             <tr>
              <td >
                <div class="post_points" title="<%= link_score(link) %>">
                            <%= number_to_human(link_score(link), :units => {:thousand => "K"},:format =>"%n%u",:precision => 4)  # => "500 K"
                             %>
                 </div>
              </td>
            </tr>
             <tr>
              <td>
                <%= link_to dislike_link_path(link), method: :put,:remote => true, class: "post_downvote "+@b do %>
                  <i class="fa fa-caret-down fa-2x" aria-hidden="true"></i>          
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </th>
      <td class="imageVoteTd">
        <div class="thumbnail">
        <%= link_to  image_tag(link.image.url ,class: "thumbnail" ), link.url if link.image? %>
        <%= link_to  image_tag('default-image-link.png',  class: "thumbnail "), link.url unless link.image? %>
              </div>
      </td>
      <td width="100%">
        <div class="card-body">
          <p class="card-text"> <%= link_to link.title, link.url %>
                <%= link_to URL_domain(link.url), link.url,:class =>"domain" %></p>
          <hr class="my-4">
          <div class="card-text small">
                <ul class="list-inline">
                    <li class="list-inline-item">
                    <small ><%= t(:label_by) %>  
                      <%= link_to link.user.username, link.user %>
                      </small>
                    </li>
                    <li class="list-inline-item">
                    <small ><%= t(:label_ago) %>   
                      <%= time_ago_in_words(link.created_at ) %>
                      </small>
                    </li>
                    <li class="list-inline-item">
                    <small ><%= t(:label_in) %>
                      <%= link_to link.category.name, home_path(category: link.category.name) %>
                      </small>
                    </li>
                     
                    <li class="list-inline-item">
                      <small ><%= t(:label_in) %>
                       <%= link_to link_comments(link) , link %>
                   </small>
                    </li>
                  
                      <% if link.user == current_user %>
                       <li class="list-inline-item">
                       <small >
                         <%= link_to  t(:label_delete) , link, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </small>
                       </li> 

                      <% else %>
                      <li class="list-inline-item">
                        <small><%= t(:label_report) %></small>
                      </li>
                      <% end %>
                    
                </ul>
            </div>
          
        </div>
          </td>
      </tr>
  </table>
</div>


