<div class="mainTitle">
  <h2>  <%= @title %> </h2>
</div>
<div class="main">
	<div class="shell">
		<header class="section-head">
                <h2 class="section-title pull-right">
                	 linkO يسهل عليك الوصول الى الأفكار , الأخبار العاجله , العروض,... وغيرها ، من مصادر متعدده فى مكان واحد فقط .                 

                	 <br>
                	 مهمتنا مساعدة المجتمع العربى من استكشاف العالم الذى يعيشون فيه , وتمكين مجتمعنا من الإزدهار.
                </h2>
            </header>

	</div>
	
</div>
<br>

<!-- <div class="main row">
  <div class="col-md-6 col-md-offset-3">
  <%= image_tag('favicon.ico', alt: 'Image',class: "img-circle img-profile" ) %>
  <%= image_tag('favicon.ico',  class: "logo-img-2 ") %>
  	</div>
  </div> -->
 <div class="container" >
	<div class="row">
		<div class="col-md-4"><%= image_tag('share.png',  class: "img-circle img-about") %></div>
	  	<div class="col-md-4"><%= image_tag('vote.png',  class: " img-circle img-about") %></div>
	  	<div class="col-md-4"><%= image_tag('Discuss1.png',  class: " img-about") %></div>
	</div>
</div>
<div class="container" >
	<div class="row">
		<div class="col-md-4"><h2 class="about-title" >تصويت</h2>
			<h7>يمكنك مشاركة رابط معين وأختيار التصنيف المناسب ,</h7>
			<br>
			<h7> إن لم تجد تصنيفاً مناسباً يمكنك إضافة تصنيفاً جديداً.</h7>
			<br>
			<h7> وكذلك يمكن للمستخدمين الاخرين المشاركه فى هذا التصنيف. </h7>
		</div>
	  	<div class="col-md-4">
	  		<h2 class="about-title" >صوت</h2>
	  		<h7>أهمية الروابط تأتى من التصويت الإيجابى او السلبى,</h7>
			<br>
			<h7> فالروابط الاكثر أهميه والتى تستحق المشاهده تصعد دائما الى الأعلى. 
			</h7>
			<br>
	  	</div>
	  	<div class="col-md-4">
	  		<h2 class="about-title" >مناقشة</h2>
	  		<h7>يمكن للمستخدمين التعليق على اى رابط.</h7>
			<br>
			<h7> هذه المناقشه توفر معلومات إضافية، مناقشة قوية، وغالبا الفكاهة. 
			</h7>
			<br>
	  	</div>
	</div>
</div>