<% if current_page?(locale: :ar)  %>

<div class="container about_page">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="about_title">
        لماذا LinkO
      </div>
      <h3 class="section-title pull-right">
        linkO ﻳﺴﻬﻞ ﻋﻠﻴﻚ اﻟﻮﺻﻮﻝ اﻟﻰ اﻷﻓﻜﺎﺭ , اﻷﺧﺒﺎﺭ اﻟﻌﺎﺟﻠﻪ , اﻟﻌﺮﻭﺽ,... ﻭﻏﻴﺮﻫﺎ ، ﻣﻦ ﻣﺼﺎﺩﺭ ﻣﺘﻌﺪﺩﻩ ﻓﻰ ﻣﻜﺎﻥ ﻭاﺣﺪ ﻓﻘﻂ .                 

        <br><br>
        ﻣﻬﻤﺘﻨﺎ ﻣﺴﺎﻋﺪﺓ اﻟﻤﺠﺘﻤﻊ اﻟﻌﺮﺑﻰ ﻣﻦ اﺳﺘﻜﺸﺎﻑ اﻟﻌﺎﻟﻢ اﻟﺬﻯ ﻳﻌﻴﺸﻮﻥ ﻓﻴﻪ , ﻭﺗﻤﻜﻴﻦ ﻣﺠﺘﻤﻌﻨﺎ ﻣﻦ اﻹﺯﺩﻫﺎﺭ.
        <br>
        <br>
      </h3>
    </div>
  </div>

  <div class="row align-items-center justify-content-md-center" >
    <div class="col-md-4 ">
      <div style="max-width: 150px;" class="mx-1"  >
        <%= image_tag('share.png',  class: "card-img-top rounded-circle") %>
      </div>
      <h2 class="about-title" >مشاركة</h2>
      <h7>ﻳﻤﻜﻨﻚ ﻣﺸﺎﺭﻛﺔ ﺭاﺑﻂ ﻣﻌﻴﻦ ﻭﺃﺧﺘﻴﺎﺭ اﻟﺘﺼﻨﻴﻒ اﻟﻤﻨﺎﺳﺐ ,</h7>
      <br>
      <h7> ًﺇﻥ ﻟﻢ ﺗﺠﺪ ﺗﺼﻨﻴﻔﺎً ﻣﻨﺎﺳﺒﺎً ﻳﻤﻜﻨﻚ ﺇﺿﺎﻓﺔ ﺗﺼﻨﻴﻔﺎً ﺟﺪﻳﺪا.</h7>
      <br>
      <h7> ﻭﻛﺬﻟﻚ ﻳﻤﻜﻦ ﻟﻠﻤﺴﺘﺨﺪﻣﻴﻦ اﻻﺧﺮﻳﻦ اﻟﻤﺸﺎﺭﻛﻪ ﻓﻰ ﻫﺬا اﻟﺘﺼﻨﻴﻒ. </h7>
    </div>
    <div class="col-md-4">
     <div style="max-width: 150px;" class="mx-1" >
      <%= image_tag('vote.png',  class: "card-img-top rounded-circle") %>
    </div>
    <h2 class="about-title" >تصويت</h2>
    <h7>ﺃﻫﻤﻴﺔ اﻟﺮﻭاﺑﻂ ﺗﺄﺗﻰ ﻣﻦ اﻟﺘﺼﻮﻳﺖ اﻹﻳﺠﺎﺑﻰ اﻭ اﻟﺴﻠﺒﻰ,</h7>
    <br>
    <h7> ﻓﺎﻟﺮﻭاﺑﻂ اﻻﻛﺜﺮ ﺃﻫﻤﻴﻪ ﻭاﻟﺘﻰ ﺗﺴﺘﺤﻖ اﻟﻤﺸﺎﻫﺪﻩ ﺗﺼﻌﺪ ﺩاﺋﻤﺎ اﻟﻰ اﻷﻋﻠﻰ. 
    </h7>
    <br>
  </div>
  <div class="col-md-4">
    <div style="max-width: 150px;" class="mx-1" >
      <%= image_tag('Discuss1.png',  class: "card-img-top ") %>
    </div>
    <h2 class="about-title" >مناقشة</h2>
    <h7>ﻳﻤﻜﻦ ﻟﻠﻤﺴﺘﺨﺪﻣﻴﻦ اﻟﺘﻌﻠﻴﻖ ﻋﻠﻰ اﻯ ﺭاﺑﻂ.</h7>
    <br>
    <h7> ﻫﺬﻩ اﻟﻤﻨﺎﻗﺸﻪ ﺗﻮﻓﺮ ﻣﻌﻠﻮﻣﺎﺕ ﺇﺿﺎﻓﻴﺔ، ﻣﻨﺎﻗﺸﺔ ﻗﻮﻳﺔ، ﻭﻏﺎﻟﺒﺎ اﻟﻔﻜﺎﻫﺔ. 
    </h7>
    <br>
  </div>

</div>
</div>


<% else %>

<div class="container about_page">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="about_title">
        Why LinkO Exists
      </div>
      <h3 class="section-title">
        LinkO helps you to catch Ideas,News,offers,(Links)...from defrent places in one place.               
        <br>
        <br>
        Our mession is to help our community to discover the world they live.
        <br>
        <br>
      </h3>
    </div>
  </div>
  
  <div class="row align-items-center justify-content-md-center" >
    <div class="col-md-4 ">
      <div style="max-width: 150px;" class="mx-1"  >
        <%= image_tag('share.png',  class: "card-img-top rounded-circle") %>
      </div>
      <h2 class="about-title" >Share</h2>
      <h7>Anyone can create a community on nearly any topic imaginable. Each community is independently moderated by volunteer users. Community members can share content including stories, links, and images. </h7>
    </div>
    <div class="col-md-4">
      <div style="max-width: 150px;" class="mx-1" >
        <%= image_tag('vote.png',  class: "card-img-top rounded-circle") %>
      </div>
      <h2 class="about-title" >Vote</h2>
      <h7>The global LinkO community votes on which Links are important by casting upvotes or downvotes. The most interesting, funniest, impactful, or simply amazing stories rise to the top.</h7>
    </div>
    <div class="col-md-4">
     <div style="max-width: 150px;" class="mx-1" >
      <%= image_tag('Discuss1.png',  class: "card-img-top ") %>
    </div>
    <h2 class="about-title" >Discuss</h2>
    <h7>Linkers can comment on any Link on LinkO. Comments are often the best part about LinkO content—they provide additional information, vigorous discussion, context, and often humor.</h7>
  </div>

</div>
</div>



<% end %>