<div class="mainTitle">
  <h2>  <%= @title %> </h2>
</div>
<div class="main">
 <div class="shell">
  <header class="section-head">
                <h2 class="section-title pull-right">
                  linkO ﻳﺴﻬﻞ ﻋﻠﻴﻚ اﻟﻮﺻﻮﻝ اﻟﻰ اﻷﻓﻜﺎﺭ , اﻷﺧﺒﺎﺭ اﻟﻌﺎﺟﻠﻪ , اﻟﻌﺮﻭﺽ,... ﻭﻏﻴﺮﻫﺎ ، ﻣﻦ ﻣﺼﺎﺩﺭ ﻣﺘﻌﺪﺩﻩ ﻓﻰ ﻣﻜﺎﻥ ﻭاﺣﺪ ﻓﻘﻂ .                 

                  <br>
                  ﻣﻬﻤﺘﻨﺎ ﻣﺴﺎﻋﺪﺓ اﻟﻤﺠﺘﻤﻊ اﻟﻌﺮﺑﻰ ﻣﻦ اﺳﺘﻜﺸﺎﻑ اﻟﻌﺎﻟﻢ اﻟﺬﻯ ﻳﻌﻴﺸﻮﻥ ﻓﻴﻪ , ﻭﺗﻤﻜﻴﻦ ﻣﺠﺘﻤﻌﻨﺎ ﻣﻦ اﻹﺯﺩﻫﺎﺭ.
                </h2>
            </header>

 </div>
 
</div>
<br>

<!-- <div class="main row">
  <div class="col-md-6 col-md-offset-3">
  <%= image_tag('favicon.ico', alt: 'Image',class: "img-circle img-profile" ) %>
  <%= image_tag('favicon.ico',  class: "logo-img-2 ") %>
   </div>
  </div> -->
 <div class="container" >
 <div class="row">
  <div class="col-md-4"><%= image_tag('share.png',  class: "img-circle img-about") %></div>
    <div class="col-md-4"><%= image_tag('vote.png',  class: " img-circle img-about") %></div>
    <div class="col-md-4"><%= image_tag('Discuss1.png',  class: " img-about") %></div>
 </div>
</div>
<div class="container" >
 <div class="row">
  <div class="col-md-4"><h2 class="about-title" >مشاركة</h2>
   <h7>ﻳﻤﻜﻨﻚ ﻣﺸﺎﺭﻛﺔ ﺭاﺑﻂ ﻣﻌﻴﻦ ﻭﺃﺧﺘﻴﺎﺭ اﻟﺘﺼﻨﻴﻒ اﻟﻤﻨﺎﺳﺐ ,</h7>
   <br>
   <h7> ًﺇﻥ ﻟﻢ ﺗﺠﺪ ﺗﺼﻨﻴﻔﺎً ﻣﻨﺎﺳﺒﺎً ﻳﻤﻜﻨﻚ ﺇﺿﺎﻓﺔ ﺗﺼﻨﻴﻔﺎً ﺟﺪﻳﺪا.</h7>
   <br>
   <h7> ﻭﻛﺬﻟﻚ ﻳﻤﻜﻦ ﻟﻠﻤﺴﺘﺨﺪﻣﻴﻦ اﻻﺧﺮﻳﻦ اﻟﻤﺸﺎﺭﻛﻪ ﻓﻰ ﻫﺬا اﻟﺘﺼﻨﻴﻒ. </h7>
  </div>
    <div class="col-md-4">
     <h2 class="about-title" >تصويت</h2>
     <h7>ﺃﻫﻤﻴﺔ اﻟﺮﻭاﺑﻂ ﺗﺄﺗﻰ ﻣﻦ اﻟﺘﺼﻮﻳﺖ اﻹﻳﺠﺎﺑﻰ اﻭ اﻟﺴﻠﺒﻰ,</h7>
   <br>
   <h7> ﻓﺎﻟﺮﻭاﺑﻂ اﻻﻛﺜﺮ ﺃﻫﻤﻴﻪ ﻭاﻟﺘﻰ ﺗﺴﺘﺤﻖ اﻟﻤﺸﺎﻫﺪﻩ ﺗﺼﻌﺪ ﺩاﺋﻤﺎ اﻟﻰ اﻷﻋﻠﻰ. 
   </h7>
   <br>
    </div>
    <div class="col-md-4">
     <h2 class="about-title" >ﻣﻨﺎﻗﺸﺔ</h2>
     <h7>ﻳﻤﻜﻦ ﻟﻠﻤﺴﺘﺨﺪﻣﻴﻦ اﻟﺘﻌﻠﻴﻖ ﻋﻠﻰ اﻯ ﺭاﺑﻂ.</h7>
   <br>
   <h7> ﻫﺬﻩ اﻟﻤﻨﺎﻗﺸﻪ ﺗﻮﻓﺮ ﻣﻌﻠﻮﻣﺎﺕ ﺇﺿﺎﻓﻴﺔ، ﻣﻨﺎﻗﺸﺔ ﻗﻮﻳﺔ، ﻭﻏﺎﻟﺒﺎ اﻟﻔﻜﺎﻫﺔ. 
   </h7>
   <br>
    </div>
 </div>
</div>