<% provide(:title, "index") %>

 <div class="menuarea">
  <div class="spacer">
     <%= form_tag({}, {:method => :get}) do %>
       <span class="">ﺭﻭاﺑﻂ ﻣﻦ: </span>   
       <% @people = [{"name"=>"اﻟﺴﺎﻋﻪ اﻟﻤﺎﺿﻴﺔ", "value"=>"hour"}, {"name"=>"اﻟﻴﻮﻡ اﻟﻤﺎﺿﻰ", "value"=>"day"}, {"name"=>"اﻻﺳﺒﻮﻉ اﻟﻤﺎﺿﻰ ", "value"=>"week"}, {"name"=>"اﻟﺸﻬﺮ اﻟﻤﺎﺿﻰ", "value"=>"month"}, {"name"=>"اﻟﻌﺎﻡ اﻟﻤﺎﺿﻰ", "value"=>"year"}, {"name"=>"اﻟﻜﻞ", "value"=>"all"}] %>
       
       <% if params[:t].present? %>
       <% @selected = params[:t]  %>
       <% else %>
        <% @selected = "month" %>  
       <% end %>
       
      <%= select_tag :t, options_for_select(@people.collect {|p| [ p['name'], p['value'] ] },@selected) %>
      <% end %>
    </div>
 </div>
  
  <div class="ProfileTemplate__body">
      <div class="ProfileTemplate__content">
        <div class="itemsList">
          <% @links.each do |link| %>
            <%= render 'shared/link_row' ,link: link %>
          <% end %>
          </div>
      </div>

      <% if params[:category] %>
        <div class="ProfileTemplate__sidebar">
         <div class="ProfileSidebar__titleContainer">
            <div class="blockW">
              <h2 class="underline"> <%= params[:category] %> </h2>
             <span >
            <%= render 'categories/cat_follow_form' , category:@category %>
            </span>
            
            </div>
          
         </div> 
     </div>
      <% end %>
     

</div>



<script type="text/javascript">
$(document).ready(function() {
        $('#t').on('change', function(event) {
          var selected_id = $(this).val();
          // alert(selected_id);
          var url= window.location.href; 
          var res = url.replace('?','&').split("&");
          var newUrl = res[0];
          if(res.length < 2) return;

          var haveQ = false;
          for(var i =1 ; i<res.length ; i++){
            var temp = res[i];
              if(temp.startsWith("t=")){
                continue;
              }
            if (i==1) {
              newUrl = newUrl+"?"+temp;
              haveQ = true;
            }
            else 
            newUrl = newUrl+"&"+temp;
          }
          if(!haveQ){
            newUrl = newUrl+"?"+"t="+selected_id;
          }else newUrl = newUrl+"&"+"t="+selected_id;
          if(newUrl)
             window.location = newUrl; // just redirect
           })
      });
</script>