 <% provide(:title, @link.title) %>

<div class="ProfileTemplate__body">
      <div class="ProfileTemplate__content">
         <div class="itemsList">
          <%= render 'shared/link_row' ,link: @link %>
        </div>
         
      </div>
</div>


<h3 class="comments_title">
   <h2>اﻟﺘﻌﻠﻴﻘﺎﺕ<%= @link.comments.count %> </h2> 
  
</h3>
<div class="commentBox">
     <%= form_for [@link, Comment.new]  do |f| %>
          <div class="field">
            <%= f.text_area :body, class: "form-control editable" %>
          </div>
          <br>
          <%= f.submit " ًﺃﺿﻒ ﺭﺩا", class: "btn btn-primary" %>
          <% end %>
</div>

<div id="comments" >
        <% @link.comments.each do |comment| %>

            <%= render 'shared/comment_row' ,comment: comment,link: @link %>
          <% end %>
  
</div>

