<div class="main">
<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form>
  <div class="form-group">
    <%= f.label t(:label_categoryName) , class: "required-field"%>
    <%= f.text_field :name , class: "form-control"%>
  </div>
  <div class="txtSmall margB25">
               <%= t(:under_labelCategoryName) %>
  </div>

   <div class="form-group">
    <%= f.label t(:label_about) %>
    <%= f.text_field :about , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label t(:label_attachImage) %>
    <%= f.file_field :image , class: "form-control"%>
  </div>
   

 <div class="form-group">
    <%= f.submit t(:label_buttonAddCategory) , class: "btn btn-primary" %>
  </div>
</form>
<% end %>
</div>