
<p id="notice"><%= notice %></p>

<% provide(:title, t(:label_categories)  ) %>
    
    <div class="categoriesList">
          <% @categories.each do |category| %>
          <div id="category_id_<%= category.id %>" >
            <%= render 'shared/category_row' ,category: category %>
            </div>
          <% end %>
    </div>






<div class="mainTitle">
  <h2>  <%= t(:label_categories)  %> </h2>
</div>

<ul class="list-group">
  <% @categories.each do |category| %>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="row ">
      <label class="mr-sm-4" >
      <% unless current_user?(@user) %>
              <span class="pull-left">
              <%= link_to content_tag(:i,nil, class: 'fa fa-trash-o'), category, method: :delete, data: { confirm: 'Are you sure?' } %>
              </span>
        <% end %>
      </label>
      <label class="mr-sm-4" style="width: 150px;" ><%= category.name %> </label>

      <% if logged_in? %>
        <% unless current_user.isfollowingCat?(category) %>
            <%= form_for(current_user.cat_followed_relationships.build ) do |f| %>
            <div><%= hidden_field_tag :following_id, category.id %></div>
            <%= f.submit "Follow", class: "btn btn-primary" %>
          <% end %>

        <% else %>
          <%= form_for(current_user.cat_followed_relationships.find_by(follower_id: current_user.id),
                     html: { method: :delete }) do |f| %>
          <div><%= hidden_field_tag :following_id, category.id %></div>
          <%= f.submit "Unfollow", class: "btn" %>
        <% end %>

        <% end %>
      <% end %>

    </div>
    <span class="badge badge-primary badge-pill">
      <%= category.follower.count %>
    </span>
  </li>
 <% end %>
</ul>

