<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light justify-content-between " style="background-color: #b92b27;">
  <a class="navbar-brand" href="#">
    <%= image_tag('favicon.ico',  class: "img-rounded logoImg") %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <%= form_tag search_links_path, method: :get, class: "form-inline col-sm-6 ", role: "search" do %>
  <p>
    <div class="input-group input-group-sm col-sm-8 ">
      <%= text_field_tag :search, params[:search], class: "form-control" , placeholder: "Search LinkO" %>
      <span class="input-group-btn ">
        <%= button_tag  ' ', name: nil, class: "btn btn-secondary " do %>
        <i class="fa fa-search" aria-hidden="true"></i>
        <% end %>
      </span>
    </div>
  </p>        

 <!--  <button class="btn btn-success btn-sm mx-1" type="button"
  data-toggle="modal" data-target="#exampleModal">Add Link</button>
-->
<%= link_to "Add Link", new_link_path ,class: "btn btn-success btn-sm mx-1"  %> 

<% end %>


<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
  <ul class="navbar-nav ">

    <li class="nav-item ">
      <p>

       <%= link_to_in_li ' '+t(:label_home) , root_path , class: "nav-link fa fa-newspaper-o headerFont" %>     

     </p>

   </li>

   <li class="nav-item">
     <%= link_to_in_li ' '+t(:label_headerAbout) , about_path , class: "nav-link fa fa-question-circle headerFont" %>
   </li>

   <% if logged_in? %>
  <!--  <li class="nav-item">
    <%= link_to_in_li ' '+t(:label_headerNewLink), new_link_path , class: "nav-link fa  fa-link headerFont" %>
  </li> -->
     <!--  <li class="nav-item ">
       <%= link_to_in_li t(:label_headerNewCategory), new_category_path , class: "nav-link fa fa-th-list" %>
      </li>
    -->
    <% if current_user.admin %>
    <li class="nav-item">
     <%= link_to_in_li "Users", users_path , class: "nav-link" %>
   </li>
   <% end %>

   <li class="nav-item dropdown ">
    <a class="nav-link dropdown-toggle fa fa-user headerFont" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t(:label_headerAccount)  %>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <%= link_to ' '+current_user.username.to_s+ ' ', current_user , class: "dropdown-item fa fa-user headerFont"  %>
      <%= link_to t(:label_headerAccountEdit),  edit_user_path(current_user) , class: "dropdown-item fa fa-edit headerFont"  %>

      <%= link_to t(:label_logout), logout_path, method: :delete , class: "dropdown-item fa fa-sign-out headerFont"  %>
    </div>
  </li>
  <li class="nav-item ">

  </li>

  <li class="nav-item">
    <% if current_page?(locale: :ar)  %>
    <%= link_to_in_li ' '+t(:label_english),  { :locale=>'en' } , class: "nav-link fa fa-globe headerFont" %>
    <% else %>
    <%= link_to_in_li ' '+t(:label_arabic),  { :locale=>'ar' } , class: "nav-link fa fa-globe headerFont" %>
    <% end %>
    
  </li>

  <% else %>
  <li class="nav-item dropdown">
    <%= link_to ' '+t(:label_NewAccount), signup_path , class: "nav-link fa fa-user-plus headerFont"  %>
  </li>
          <!-- <li class="nav-item dropdown">
            <%= link_to t(:label_login), login_path , class: "nav-link fa fa-sign-in"  %>
          </li> -->

          <li class="nav-item dropdown">
            <a href="javascript:;" class="dropdown-toggle nav-link fa fa-sign-in headerFont" data-toggle="dropdown"><b><%= ' '+t(:label_login) %></b>
             <span class="caret"></span></a>
             <ul id="login-dp" class="dropdown-menu dropdown-menu-right">
              <li>
               <%= render "layouts/navbar_login" %>
             </li>
           </ul>
         </li>

         <% end %>
       </ul>



     </div>
   </nav>

