<!DOCTYPE html>
<html>
<head >
  <title><%= full_title(yield(:title)) %></title>
  <meta charset="utf-8">

  <link rel="shortcut icon" type="image/png" href="/assets/images/linkO-logo.png">
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application_#{I18n.locale}", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <div class="header">
    <% if I18n.locale == :ar  %>
    <%= render "layouts/header_ar" %>
    <% else %>
    <%= render "layouts/header_en" %>
    <% end %>

  </div>
</head>
<body>
 <% if I18n.locale == :ar  %>
 <%= render 'shared/following_list_ar'  %>
 <% else %>
 <%= render 'shared/following_list_en'  %>
 <% end %>
 
 <br>
 <div class="container">
   <%= render_flash %>
 </div>
 <%= yield %>

 <%= debug(params) if Rails.env.development? %> 

</body>
</html>

<script type="text/javascript">
  $(document).ready(function() {
  // $("#topMenuListId  li").on('click', function(e) {
  //     alert('change has been made');


  // });
  // if ($('#topMenuListId li').length > 10) {
  //   $('#dropdownMenu2').show();
  // }
  // else
  // {
  //  $('#dropdownMenu2').hide(); 
  // }
  $('#topMenuListId li').each(function (i) {

    var index = $(this).index();
    var text = $(this).text();
    var value = $(this).attr('value');
        // alert('Index is: ' + index + ' and text is ' + text + ' and Value ' + value);
      }); 

});

</script>